L01_IntroDNN-SOLUCION.ipynb
L02_IntroDNN-SOLUCION.ipynb

#REGRESIÓN
L02r_IntroDNN_Regresion.ipynb
L02r_IntroDNN-SOLUCION.ipynb

L04_IntroCNN_clasificacion.ipynb
L04_IntroCNN-SOLUCION.ipynb

L05_Pretrained_clasificacion.ipynb
L05_Pretrained-SOLUCION.ipynb

L06_TransferLearning_clasificacion.ipynb
L06_TransferLearning-SOLUCION.ipynb